@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Freeman&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 1rem;
  position: relative;
}

main {
  background-color: rgb(199, 236, 208);
  border-radius: 5px;
  padding: 2rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  box-shadow: 2px 3px rgb(181, 236, 195);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
}

div {
  background-color: white;
  padding: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 14px;
  font-size: 2rem;
  box-shadow: 2px 2px lightgray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  display: block;
  text-align: right;
  background-color: lightcyan;
  position: absolute;
  top: 9vh;
  left: 50vw;
  transform: translate(-50%, -4%);
  height: 6rem;
  width: 30rem;
  box-shadow: 2px 2px rgb(176, 199, 199);
  border-radius: 5px;
}

main div:active {
  transform: translate(0, 2px);
  transition: 0.3s;
}

.calculate {
  background-color: rgb(248, 248, 165);
}

.add,
.subtract,
.multiply,
.divide {
  background-color: rgb(133, 214, 241);
}

.zero {
  width: auto;
  grid-column: 2 / 4;
}

.clear {
  width: auto;
  grid-column: 1 / 3;
}

@media screen and (max-width: 600px) {
  .display {
    top: 20rem;
  }
}
